In [1]:
import pandas as pd
import numpy as np

In [21]:
df_us=pd.read_csv('users.csv')
df_us.head(3)

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English

In [20]:
df_sub=pd.read_csv('subscribers.csv')
df_sub.head(3)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True

In [19]:
df_mar=pd.read_csv('marketing_campaign.csv')
df_mar.head(3)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True

In [26]:
df_1=pd.merge(df_us,df_sub, on='user_id', how='inner')
df=pd.merge(df_1,df_mar, on='user_id',how='inner')
df.head(5)

,user_id,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,0-18 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
1,a1001,19-24 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
2,a1002,24-30 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
3,a1003,30-36 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
4,a1004,36-45 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True

### 1.Определить типы и статистики колонок

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   age_group            10037 non-null  object
 2   language_preferred   10037 non-null  object
 3   subscribing_channel  1856 non-null   object
 4   date_subscribed      1856 non-null   object
 5   date_canceled        577 non-null    object
 6   is_retained          1856 non-null   object
 7   date_served          10021 non-null  object
 8   marketing_channel    10022 non-null  object
 9   variant              10037 non-null  object
 10  language_displayed   10037 non-null  object
 11  converted            10022 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [35]:
df.describe()

,user_id,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained,date_served,marketing_channel,variant,language_displayed,converted
count,10037,10037,10037,1856,1856,577,1856,10021,10022,10037,10037,10022
unique,10037,7,4,5,31,115,2,31,5,2,4,2
top,a1000,19-24 years,English,Instagram,1/16/18,4/2/18,True,1/15/18,House Ads,control,English,False
freq,1,1682,9275,600,163,15,1279,789,4733,5091,9793,8946

### 2. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [37]:
converted=df[df['converted']==True]
converted.head(5)

,user_id,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,0-18 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
1,a1001,19-24 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
2,a1002,24-30 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
3,a1003,30-36 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
4,a1004,36-45 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True

In [38]:
#абсолютные значения
converted['marketing_channel'].value_counts()

House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: marketing_channel, dtype: int64

In [40]:
converted['marketing_channel'].value_counts() /df['marketing_channel'].value_counts()

Email        0.341593
Facebook     0.127419
House Ads    0.062962
Instagram    0.141635
Push         0.083585
Name: marketing_channel, dtype: float64

### 3.Определить количество игроков в каждой возрастной группе

In [41]:
df['age_group'].value_counts()

19-24 years    1682
24-30 years    1568
0-18 years     1539
30-36 years    1355
36-45 years    1353
45-55 years    1353
55+ years      1187
Name: age_group, dtype: int64

### 4.Определить самую раннюю дату подписки на сервис.

In [44]:
pd.to_datetime(df['date_subscribed']).sort_values().head(1)

0   2018-01-01
Name: date_subscribed, dtype: datetime64[ns]

 ### 5.Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [55]:
retained=df[df['is_retained']==True]
retained.head(5)

,user_id,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,0-18 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
1,a1001,19-24 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
2,a1002,24-30 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
3,a1003,30-36 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
4,a1004,36-45 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True

In [59]:
retained[['age_group','language_preferred']].value_counts().head(10)

age_group    language_preferred
19-24 years  English               304
24-30 years  English               250
0-18 years   English               210
30-36 years  English               114
45-55 years  English               108
36-45 years  English               107
55+ years    English                86
24-30 years  German                 15
19-24 years  German                 11
             Spanish                10
dtype: int64